@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-main bg-background antialiased;
  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

}